<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/433-github.png')}}"" sizes=" 64x64">
</head>

<body>
    <div class="login-box">
        <img src="../static/img/logo.png" class="avatar" alt="Avatar Image">
        <h1>Inicio de sesión</h1>
        <form>
            <!-- USERNAME INPUT -->
            <label for="username">Nombre de usuario</label>
            <input type="text" placeholder="Usuario">
            <!-- PASSWORD INPUT -->
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña">
            <input type="submit" value="Iniciar">
            <a href="#">He olvidado mi contraseña</a><br>
            <a href="#">No tengo una cuenta </a>
        </form>


    </div>
    <a class="btn" href="principal"> Acceder</a>
    <a class="btn1" href="/"> Actualizar</a>
</body>

</html>