{% extends "layout1.html" %}

{% block conten %}

{% with messages = get_flashed_messages() %}
{% if messages  %}
{% for message in messages %}
<div class="badge badge-primary text-wrap" style="width">
    <h1>{{ message }}</h1>
  </div>

{% endfor %}
{% endif %}
{% endwith %}

<div>

<table class = "table table-dark">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contactos %}
            <tr>
                <td>{{contact.1}}</td>
                <td>{{contact.2}}</td>
                <td>{{contact.3}}</td>
                <td>
                    <a href="/edit/{{contact.0}}">Editar</a>
                    <a href="/delete/{{contact.0}}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
<a class="btn btn-primary" href="registro" role="button"> Registrar nuevo contacto</a>


{% endblock %}